spring.application.name=resume-analyzer
spring.datasource.url=jdbc:postgresql://localhost:5432/resume_analyzer_db
spring.datasource.username=postgres
spring.datasource.password=YOUR_DB_PASSWORD_HERE
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
gemini.api.key=YOUR_GEMINI_API_KEY_HERE
jwt.secret=YOUR_JWT_SECRET_KEY_HERE